@font-face {
  font-family: "iconfont"; /* Project id 3632640 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1662440927375') format('woff2'),
       url('iconfont.woff?t=1662440927375') format('woff'),
       url('iconfont.ttf?t=1662440927375') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tubiao-3:before {
  content: "\e601";
}

.icon-tubiao-4:before {
  content: "\e607";
}

.icon-tubiao-5:before {
  content: "\e608";
}

.icon-tubiao-7:before {
  content: "\e60a";
}

.icon-tubiao-8:before {
  content: "\e60b";
}

.icon-tubiao-9:before {
  content: "\e60c";
}

.icon-tubiao-10:before {
  content: "\e60d";
}

.icon-tubiao-:before {
  content: "\e604";
}

.icon-tubiao-1:before {
  content: "\e605";
}

.icon-tubiao-2:before {
  content: "\e606";
}

